<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("select[name='select_sent1']").on('change', function() {
            $("textarea[name='sent1']").val($(this).val());
        });
    });
    $(document).ready(function(){
        $("select[name='select_sent1']").on('click', function() {
            $("textarea[name='sent1']").val($(this).val());
        });
    });
    //
    $(document).ready(function(){
        $("select[name='select_section']").on('change', function() {
            $("textarea[name='section']").val($(this).val());
        });
    });
    $(document).ready(function(){
        $("select[name='select_section']").on('click', function() {
            $("textarea[name='section']").val($(this).val());
        });
    });
    </script>
    <!--<link rel="shortcut icon" href="{{url_for('static', filename='aueb_favicon.png')}}">-->
    <title>AUEB NLP Group Covid-19 search engine</title>
</head>
<body>
    <h3>
        An Experimental Document and Snippet Retrieval Search Engine for the <a href=https://pages.semanticscholar.org/coronavirus-research>COVID-19 Open Research Dataset (CORD-19)</a> </br>
        based on <a href=https://www.aueb.gr/en/content/team-auebs-department-informatics-wins-bioasq-prize-0>award winning</a> technology developed by <a href=http://nlp.cs.aueb.gr/>AUEB's NLP Group</a> for the <a href=http://bioasq.org/>BioASQ challenge</a></h3>
    <form action="/submit_question" method="POST">
        </br>
        Write your question:
        </br>
        <textarea name="sent1" id="sent1" placeholder="Write here your question." style="width: 705px; height: 59px;"></textarea>
        </br>
        Or select an example question from this list:
        </br>
        <select name="select_sent1" id="slt2" style="width: 705px;">
            <!-- user defined start -->
            <option>Is there a vaccine for covid-19 ?</option>
            <option>Is there a cure for covid-19 ?</option>
            <option>crohn disease and covid-19</option>
            <option>Pregnant women and COVID-19</option>
            <option>How Covid-19 is transmitted ?</option>
            <option>Does Covid-19 cause sneezing ?</option>
            <option>Where did COVID-19 originate ?</option>
            <option>Why is Covid-19 so infectious ?</option>
            <option>What is the spread rate of COVID-19 ?</option>
            <option>how many cases are considered critical ?</option>
            <option>What do we know about Covid-19 vaccines ?</option>
            <option>Impact of school closure to handle COVID-19 pandemic</option>
            <option>What sampling methods are there to determine asymptomatic disease ?</option>
            <!-- user defined end -->
            <option>What is known about transmission, incubation, and environmental stability?</option>
            <option>What do we know about COVID-19 risk factors?</option>
            <option>What do we know about virus genetics, origin, and evolution?</option>
            <option>What do we know about vaccines and therapeutics?</option>
            <option>What do we know about non-pharmaceutical interventions?</option>
            <option>What has been published about medical care?</option>
            <option>What do we know about diagnostics and surveillance?</option>
            <option>What has been published about information sharing and inter-sectoral collaboration?</option>
            <option>What has been published about ethical and social science considerations?</option>
        </select>
        </br>
        </br>
        </br>
        Optionally also specify sections you want to search:
        </br>
        <textarea name="section" id="section" placeholder="Narrow down your section." style="width: 705px; height: 59px;"></textarea>
        </br>
        Or select a section from this list:
        </br>
        <select name="select_section" id="slt_section" style="width: 705px;">
            <option>Abstract</option>
            <option>Background</option>
            <option>Conclusion</option>
            <option>Clinical signs</option>
            <option>Diagnosis</option>
            <option>Discussion</option>
            <option>Introduction</option>
            <option>MATERIALS AND METHODS</option>
            <option>Methods</option>
            <option>Results</option>
            <option>Results and discussion</option>
            <option>Statistical analysis</option>
            <option>Treatment</option>
        </select>
        </br>
        </br>
        </br>
        <input type="submit" value="Submit"/>
        </br>
        </br>
        Technology ported to CORD-19 by
        Dimitris Pappas (email: <a href = "mailto: pappasd@aueb.gr">pappasd@aueb.gr</a>)
        and Petros Stavropoulos (email: <a href = "mailto: pstav1993@aueb.gr">pstav1993@aueb.gr</a>).
        </br>
        </br>
        Papers:
        </br>
        1: <a href = "http://nlp.cs.aueb.gr/pubs/emnlp2018.pdf">Deep Relevance Ranking Using Enhanced Document-Query Interactions</a>
        </br>
        2: <a href = "http://nlp.cs.aueb.gr/pubs/aueb_at_bioasq7.pdf">AUEB at BioASQ 7: Document and Snippet Retrieval</a>
        </br>
        </br>
        Code: <a href = "https://github.com/nlpaueb/aueb-bioasq7">aueb-bioasq7</a>
        </br>
        </br>
        API example:
        <div title="title" style="background-color:#D3D3D3;">curl --header "Content-Type: application/json" --request POST --data '{"question"  : "What do we know about Covid-19 vaccines ?", "section"   : ""}' http://cslab241.cs.aueb.gr:5000/just_the_json</div>
        </br>
        </br>
        All provided <b>for research and demo purposes only</b>. Search engine running on a <b>weak server</b>. Please use responsibly.
        </br>
        If you can host the search engine on a stronger server, or if you can help improve the UI of the web demo, please let us know.
        </br>

    </form>
</body>
</html>
