<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to sentence similarity viewer</title>
    <form action="/test_similarity_matrix" method="POST">
        <textarea name="the_quest"  id="the_quest"  placeholder="Write here your first sentence." style="width: 705px; height: 59px;">
            this is the first sentence
        </textarea>
        </br>
        <textarea name="the_doc"    id="the_doc"    placeholder="Write here your second sentence." style="width: 705px; height: 59px;">
            the second sentence which is different than the first one
        </textarea>
        </br>
        <input type="submit" value="Submit"/>
    </form>
</head>
<body>

</body>
</html>
